*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Martel Sans', sans-serif;
  }
  .containerr{
	width: 1270px;
	margin: 0 auto;
	position: relative;
  
  }
  
  .container {
	width: 1500px;
	margin: 0 auto;
	position: relative;
  }
  .txtcont1 {
	margin-right: 900px;
  }
  .txtcont2 a {
	margin-right: 48px;
	color: #9093a6;
	text-decoration: none;
  }
  
  .nul a {
	color: #9093a6;
	text-decoration: none;
  }
  .header-menu {
	display: flex;
	padding: 10px 0;
	align-items: center;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
  }
  
  .header {
	border-bottom: 1px solid gray;
  }
  .header-nav {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-left: auto;
  }
  .salat {
	position: absolute;
	width: 100%;
	top: 0;
	overflow-x: hidden;
  }
  
  .salat > img {
	display: block;
	margin-left: auto;
	transform: translateX(43px);
  }
  
  .txtcont3 {
	font-style: normal;
	font-weight: 300;
	font-size: 58px;
	line-height: 64px;
	
  }
  .ramka {
	font-family: 'Martel Sans', sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
	border: 2px solid #ffe145;
	box-sizing: border-box;
	border-radius: 4px;
	padding: 20px;
	text-align: center;
	margin-right: 24px;
	position: relative;
	top: 40px;
  
  }
  
  
  .promo-text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: start;
  
	height: 300px;
  
  }
  .wrapper {
	display: flex;
	justify-content: start;
	align-items: center;
	flex-wrap: wrap;
  
  }
  
  
  
  .promo-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 400px;
  }
  .usp{
	display: flex;
	margin-top: 276px;
   
  }
  .iu{
	display: flex;
	position: relative;
	margin-left: -750px;
	top: 15px;
  
  
  }
  .ramka1{
	background: white;
  box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  }
  .ramka2{
	position: relative;
	background-color: #fff;
	width: 800px;
	height: 104px;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  }
  
  .time{
	margin-right: 16px;
  }
  .txtcont8{
	margin-right: 46px;
	
  }
  .delivery{
	margin-right: 16px;
  }

  
.rer1{
    display: flex;
	position: relative;
	left: 1180px;
	bottom: 316px;
	background-color:  #FFE145;
	width: 145px;
	height: 72px;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	border:none ;
}
.rer2{
    display: flex;
	position: relative;
	left: 1180px;
	bottom: 316px;
	background-color:  #FFE145;
	width: 145px;
	height: 72px;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	border:none ;
}
.txtcont14{
    text-decoration: none;
}
.rer{
	display: flex;
	position: relative;
	left: 1180px;
	bottom: 316px;
	background-color:  #FFE145;
	width: 145px;
	height: 72px;
	box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.08);
	border-radius: 6px;
	border:none ;
    

	align-items: center;
	justify-content: center;
	font-size: 15px;
    text-decoration: none;
  }
  
  .rer:hover{
  font-size: 17px;
  text-decoration: none;
  
  }
  a{
      text-decoration: none;
      
      
  }

  button::before {
    content: attr(Отправить);
  }
  
  button:hover::before {
    content: attr(Домой);
  }